.App {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 15em;
  grid-template-areas: 'grid menu';
  height: 100vh;
  width: 100vw;
}

@media only screen and (max-width: 700px) {
  .App {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-template-areas:
      'grid'
      'menu';
  }
}

.settings {
  grid-area: menu;
  padding: 0.5em;
}

.settings-row {
  display: flex;
  margin-bottom: 0.5em;
}

.grid {
  grid-area: grid;
  overflow: auto;
}

.row {
  white-space: nowrap;
  height: 2em;
}

.cell {
  height: 2em;
  width: 2em;
  cursor: pointer;
  transition: 0ms;
  box-sizing: border-box;
  display: inline-block;
}

.fade {
  transition: background-color 0.5s;
}

.border {
  border: 1px solid darkslategray;
}

#start-button {
  width: 5.5em;
}

#stop-button {
  width: 5.5em;
}

#speed-slider-label {
  display: inline-block;
  width: 6.5em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.colour-select {
  display: inline-flex;
  flex-wrap: wrap;
}

.cell-select {
  height: 3em;
  width: 3em;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid black;
  margin: 2px;
}

.cell-selected {
  border: 3px dashed black;
}
